<% provide(:title, "About") %>
<div class="container">
  <div class="about-page">
    <h2>About 100Days Of Training</h2>
    <p>当サービスはダイエットや運動不足解消など様々な理由からトレーニングを始める人を支援するサービスです。</p>

    <p>このサービスでは、100日間のトレーニング継続を目標に、体重の記録やトレーニング内容の記録・共有ができます。</p>

    <p>SNSなどでの共有機能はつけず、コメントやいいね！などの機能も持たせていません。</p>

    <p>あくまでも黙々と続けていくためのサービスで、同じく黙々とトレーニングを継続している人達の頑張りを見ながら、あなた自身もトレーニングを継続させていきましょう。</p>


    <p style="color: red">*当サービスは<a href="https://twitter.com/all_akumasan">@all_akumasan</a>がプログラミング習得のために作成したサービスです。
    </p>
    <p style="color: red">開発状況によって予告なく閉鎖等を行う場合もあることを承知の上、ご利用をお願い致します。</p>
  </div>
</div>