<% provide(:title, "Help") %>
<div class="container">
  <div class="about-page">
    <h2>当サービスの使い方</h2>
    <ul>
      <li>投稿は1日あたり1投稿のみ限定です。</li>
      <li>【本日の体重】を記入します。(必須)</li>
      <li>気になる部位の変化も記録したい場合には【Photo】に写真をアップロードします。写真はなくても投稿できます。</li>
      <li>【トレーニング内容】欄にその日に行ったトレーニング内容などを記入します。(必須)</li>
      <li>食事の状況なども記録しておきたい場合には【メモ】欄に記入します。</li>
      <li>トレーニングを行なった日を選択し、投稿します。</li>
    </ul>
  </div>
</div>